<ion-view view-title="Quesoteca">
  <ion-content padding="true">

	   <div class="titulo titulo-beneficios">
				<div class="row">
					<div class="col">
						<h1 class="">Beneficios</h1>	
								
					</div>
				</div>
		</div>

		<div class="texto-beneficios">
			<div class="row">
				<div class="col">
					<h3>¿Por qué comer queso?</h3>
					<p>El queso es uno de los alimentos más ricos en calcio, porque su contenido se encuentra elevado en relación a su aporte en fósforo. Se considera al queso un alimento calcificante, por lo que su consumo será beneficioso en situaciones en que se esten formando nuevos tejidos en el organismo.
					El calcio es importante durante el crecimiento en niños y en adolescentes, durante el embarazo o periodo de lactancia, intervenciones quirurgicas no digestivas, heridas graves y traumas o fracturas óseas.
					Además, un correcto consumo de la cantidad diaria recomendada previene la aparición de osteoporosis en el futuro.
					A continuación veremos una tabla con las distintas propiedades que nos aporta el consumo de queso.</p>	

				</div>				
				
			</div>
		</div>

		<div class="row responsive-sm">
				<a class="video-beneficios" onclick="window.open('https://www.youtube.com/embed/SSfLl6TBg4Y', '_system', 'location=yes'); return false;"><p>¡Aprende más con este video!</p></a>
				<!-- <iframe  src="https://www.youtube.com/embed/SSfLl6TBg4Y" frameborder="0" allowfullscreen></iframe> -->
		</div>

		<div class="row">
			<div class="caja-propiedades">
			<p class="texto-intro"><b>Composición de algunos quesos <strong>( Por cada 100 g)</strong></b></p>
				<table class="table table-striped">
	              <tbody>
	              
	              <tr>
	                <td>&nbsp;</td>
	                <td><span><b>Burgos con sal</b></span></td>
	                <td><span><b>Manchego curado</b></span></td>
	                <td><span><b>Cabrales curado</b></span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/agua.htm', '_system', 'location=no'); return false;">Agua</a></span></td>
	                <td  ><span>70 g</span></td>
	                <td  ><span>35 g</span></td>
	                <td  ><span>35 g</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/calcularlascalorias.htm', '_system', 'location=no'); return false;">Calorías </a></span></td>
	                <td  ><span>203,4 kcal</span></td>
	                <td  ><span>468 kcal</span></td>
	                <td  ><span>468 kcal</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/medicinalesgrasas.htm', '_system', 'location=no'); return false;">Grasa</a></span></td>
	                <td  ><span>14,9 g</span></td>
	                <td  ><span>50 g</span></td>
	                <td  ><span>50 g</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/proteinas.htm', '_system', 'location=no'); return false;">Proteína </a></span></td>
	                <td  ><span>15 g</span></td>
	                <td  ><span>35,7 g</span></td>
	                <td  ><span>35,7 g</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/hidratosdecarbono.htm', '_system', 'location=no'); return false;">Hidratos de carbono</a></span></td>
	                <td  ><span>2,5 g</span></td>
	                <td  ><span>0,51 g</span></td>
	                <td  ><span>0,51 g</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/potasio.htm', '_system', 'location=no'); return false;">Potasio </a></span></td>
	                <td  ><span>200 mg</span></td>
	                <td  ><span>80 mg</span></td>
	                <td  ><span>80 mg</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/fosforo.htm', '_system', 'location=no'); return false;">Fósforo </a></span></td>
	                <td  ><span>600 mg </span></td>
	                <td  ><span>544 mg </span></td>
	                <td  ><span>544 mg </span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/medicinalshierro.htm', '_system', 'location=no'); return false;">Hierro </a></span></td>
	                <td  ><span>0,62 mg </span></td>
	                <td  ><span>0,75 mg </span></td>
	                <td  ><span>0,75 mg </span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/medicinalssodio.htm', '_system', 'location=no'); return false;">Sodio </a></span></td>
	                <td  ><span>1200 mg</span></td>
	                <td  ><span>670 mg</span></td>
	                <td  ><span>670 mg</span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/magnesio.htm', '_system', 'location=no'); return false;">Magnesio </a></span></td>
	                <td  ><span>24 mg </span></td>
	                <td  ><span>33 mg </span></td>
	                <td  ><span>33 mg </span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/calcio.htm', '_system', 'location=no'); return false;">Calcio </a></span></td>
	                <td  ><span>186 mg </span></td>
	                <td  ><span>848 mg </span></td>
	                <td  ><span>848 mg </span></td>
	              </tr>
	              <tr>
	                <td  ><span>Cinc </span></td>
	                <td  ><span>2 mg </span></td>
	                <td  ><span>3,2 mg </span></td>
	                <td  ><span>3,2 mg </span></td>
	              </tr>
	              <tr>
	                <td  ><span><a onclick="window.open('http://www.botanical-online.com/medicinalesvitaminaa.htm, '_system', 'location=no'); return false;">Vitamina A </a></span></td>
	                <td><span>261 mg retinol </span></td>
	                <td><span>234 mg retinol</span></td>
	                <td><span>234 mg retinol</span></td>
	              </tr>
	              <tr>
	                <td><span>Vitamina B1 (<a onclick="window.open('http://www.botanical-online.com/medicinalestiamina.htm, '_system', 'location=no'); return false;">Tiamina</a>) </span></td>
	                <td><span>0,02 mg </span></td>
	                <td><span>0,04 mg </span></td>
	                <td><span>0,04 mg </span></td>
	              </tr>
	              <tr>
	                <td><span>Vitamina B2 ( <a onclick="window.open('http://www.botanical-online.com/medicinalesriboflavina.htm, '_system', 'location=no'); return false;">Riboflavina</a>) </span></td>
	                <td><span>0, 30 mg</span></td>
	                <td><span>0,32 mg</span></td>
	                <td><span>0,32 mg</span></td>
	              </tr>
	              <tr>
	                <td><span>Vitamina B3 (<a onclick="window.open('http://www.botanical-online.com/medicinalesniacina.htm, '_system', 'location=no'); return false;">Niacina</a>) </span></td>
	                <td><span>1,2 mg </span></td>
	                <td><span>8,2 mg </span></td>
	                <td><span>8,2 mg </span></td>
	              </tr>
	              <tr>
	                <td><span>Vitamina B6 ( <a onclick="window.open('http://www.botanical-online.com/medicinalespiridoxina.htm, '_system', 'location=no'); return false;">Piridoxina</a>) </span></td>
	                <td><span>0,08 mg</span></td>
	                <td><span>0,20 mg </span></td>
	                <td><span>0,20 mg </span></td>
	              </tr>
	              <tr>
	                <td><span>Vitamina B9 ( <a onclick="window.open('http://www.botanical-online.com/medicinalesacidofolico.htm, '_system', 'location=no'); return false;">Ácido fólico</a>)</span></td>
	                <td><span>14,3  mcg</span></td>
	                <td><span>21,8 mcg</span></td>
	                <td><span>21,8 mcg</span></td>
	              </tr>
	              <tr>
	                <td><span><a onclick="window.open('http://www.botanical-online.com/medicinalesvitaminab12.htm, '_system', 'location=no'); return false;">Vitamina B12 </a>( Cobalamina) </span></td>
	                <td><span>0,66 mg</span></td>
	                <td><span>1,50 mg</span></td>
	                <td><span>1,50 mg</span></td>
	              </tr>
	              <tr>
	                <td><span><a onclick="window.open('http://www.botanical-online.com/medicinalesvitaminae.htm, '_system', 'location=no'); return false;">Vitamina E</a></span></td>
	                <td><span>0,56 mg</span></td>
	                <td><span>0, 61mg</span></td>
	                <td><span>0, 61mg</span></td>
	              </tr>
	              <tr>
	                <td><span><a onclick="window.open('http://www.botanical-online.com/medicinalesvitaminad.htm, '_system', 'location=no'); return false;">Vitamina D</a></span></td>
	                <td><span>--- mg</span></td>
	                <td><span>0,19 mcg</span></td>
	                <td><span>0,19 mcg</span></td>
	              </tr>
	            </tbody>
	            </table>
			</div>	

		</div>

		<div class="acompanar">
			<div class="row">
				<div class="col">
					<h3>¿Con qué acompañarlo?</h3>
				</div>
			</div>

			<div class="row">
				<div class="col pan">
					<h4>Pan</h4>
					<img src="img/Bread.jpg">
					<div class="lista-acompanar">
						<ul>
							<li>
								<p>
								En líneas generales podemos decir que los panes artesanos cocinados al fuego de leña y los panes de fabricación artesanal acompañan todos los tipos de quesos. 
								</p>
							</li>
							<li>
								<p>
								El pan tostado y las galletas tipo ‘craker’ son buenos acompañantes, sobre todo para los quesos cremosos tipo tortas. 
								</p>
							</li>
							<li>
								<p>Cuanto más delicado sea el queso, más blanco y menos salado debe ser el pan. </p>
							</li>
							<li>
								<p>
								Los panes tipo Viena o de corteza azucarada van muy bien con los quesos azules y los de pasta cocida (gruyère, emmental, etc). No obstante se puede experimentar con otros tipos de pan. 
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col frutas-desc">
					<h4>Frutas Desecadas</h4>
					<img src="img/Frutas-desecadas.jpg">
					<div class="lista-acompanar">
						<ul>
							<li>
								<p>
								Las frutas desecadas (pasas, higos secos, orejones, dátiles, etc) al concentrar todo su sabor dulce, combinan con todo tipo de quesos, aunque de forma especial con los curados o fermentados. 
								</p>
							</li>				
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col frutos-sec">
					<h4>Frutos Secos</h4>
					<img src="img/frutos-secos1.jpg">
					<div class="lista-acompanar">
						<ul>
							<li>
								<p>
								Las almendras, pistachos, cacahuetes y las avellanas ligeramente tostados y poco salados son complementos perfectos para los quesos curados. 
								</p>
							</li>				
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col frutas-fres">
					<h4>Frutas Frescas</h4>
					<img src="img/frutasfrescas.jpg">
					<div class="lista-acompanar">
						<ul>
							<li>
								<p>
								<b>Peras (Roma, Buena Luisa):</b> acompañan a quesos de pasta prensada con fondo dulce (Idiazabal, Zamorano, Manchego y Azules).  
								</p>
							</li>
							<li>
								<p>
								<b>Uvas:</b> contrastan y realzan con cualquier queso, como dice el refrán 'Uvas y queso saben a beso'.   
								</p>
							</li>
							<li>
								<p>
								<b>Manzanas ácidas (Reineta, Grany Smith):</b> refrescan el paladar y sirven como producto a tomar entre quesos.  
								</p>
							</li>
							<li>
								<p>
								<b>Manzana dulce (Verde Doncella, Golden):</b>acompañan a quesos de pasta prensada con fondo dulce (Idiazábal, Zamorano, Manchego y Azules). 
								</p>
							</li>
							<li>
								<p>
								<b>Higos frescos:</b> se asocian perfectamente a quesos azules jóvenes (azul de Valdeón) y a los de cabra de coagulación láctica (Monte Enebro, rollito de cabra).  
								</p>
							</li>
							<li>
								<p>
								<b>Frutas silvestres (frambuesas, fresa, grosella, etc):</b> se complementan con los quesos frescos y los de pasta blanda no demasiado madurados. 
								</p>
							</li>				
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col miel">
					<h4>Miel</h4>
					<img src="img/miel.jpg">
					<div class="lista-acompanar">
						<ul>
							<li>
								<p>
								La miel acompaña a los quesos azules realzando su sabor. También suelen casar perfectamente con quesos frescos.  
								</p>
							</li>				
						</ul>
					</div>
				</div>
			</div>



		</div>

  </ion-content>
</ion-view>