
<ion-view view-title="Quesoteca">
  <ion-content padding="true"> 	
   	 
	<div class="titulo">
		<div class="row">
			<div class="col">
				<h1 class="">Bienvenido</h1>
				<h4>Viviendo el queso</h4>
			</div>
		</div>
	</div>

	<div class="entradilla">
		<div class="row responsive-sm">		
			<img src="img/chs1.jpg">
			<p>En Quesoteca descubriremos el amplio mundo de uno de los alimentos mas consumidos a nivel mundial, el queso. En este pequeño rincón veremos diferentes temas relacionados con el queso, como pueden ser, su historia, sus principales tipos de queso, beneficios que nos aporta consumir queso y las diferentes ferias relacionadas con la promoción y degustación de nuestro producto mas admirado. El queso.</p>
		</div>
	</div>

	<div class="secciones">
		<div class="row">
			<h1>Secciones</h1>			
		</div>
		<div class="list">

		    <a class="item item-thumbnail-left" href="#/app/historia">
		      <img src="img/historia.jpg">
		      <h2>Historia</h2>
		      <p>Revive el nacimiento del queso.</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#/app/tipos">
		      <img src="img/tipos.jpg">
		      <h2>Tipos de Queso</h2>
		      <p>Descubre el queso.</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#/app/beneficios">
		      <img src="img/salud.png">
		      <h2>Beneficios del queso</h2>
		      <p>Conoce el queso.</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#/app/ferias">
		      <img src="img/feria-m.jpg">
		      <h2>Ferias</h2>
		      <p>Aprende, degusta, vive el queso.</p>
		    </a>

    

</div>
	</div>


		
  </ion-content>
</ion-view>