.texto-imagen-historia{
	img{
		width:100%;
		margin-bottom: 1em;
	}

	p{
		text-align: justify;
	}
	
}

.titulo-cm{
	h2{
		margin-top: 0;
	}
}

.cm{
	.cm-img{
		width: 30%;
	}
}

.aux-img-historia{
	text-align: center;
}

